.l-topPage_area{
  .p-title_area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;

    .p-title_section{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      .p-sub_title{
        margin: 20px;
      }
    }
  }
}
