#l-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  #c-loading_bar {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #f1f1f1;
    width: 100%;
  }

  #c-loading_bar_overlap {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: blue;
    width: 0;
  }

  #c-loading_text {
    font-size: 20px;
    color: black;
    z-index: 10;
    margin-bottom: 40px;
  }

}
.wave{

}

.wave{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}
.l-topPage_area {
  .p-title_area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;

    .p-title_section{
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      .p-sub_title{
        margin: 20px;
      }
    }
  }
}
